@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll-behavior 10s ease-in-out;
  letter-spacing: 0.8px;
  cursor: none;
}

/* a:hover {
  cursor: url("./Components/cursor/pointer-yellow.png"), auto;
}
button:hover {
  cursor: url("./Components/cursor/pointer-yellow.png"), auto;
}

body {
  cursor: url("./Components/cursor/cursor-yellow.png"), auto;
}
textarea:hover,
input:hover {
  cursor: url("./Components/cursor/ibeam_small.png"), text;
} */
@font-face {
  font-family: "frozen";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
}

@font-face {
  font-family: "Crime";
  src: url("./fonts/Crimes\ of\ Grindelwald.otf");
}
@font-face {
  font-family: "Harry";
  src: url("./fonts/HARRYP__.TTF");
}
@font-face {
  font-family: "Magic";
  src: url("./fonts/MagicSchoolTwo.ttf");
}
@font-face {
  font-family: "MagicI";
  src: url("./fonts/Magik.TTF");
}
@font-face {
  font-family: "animal_fantastic";
  src: url("./Assets/Animales\ Fantastic.otf");
}

:root {
  --harry: #d19f3d;
  --pink: #f57dff;
  --blue: #57cbff;
  --green-tint: rgba(100, 255, 218, 0.1);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --navy: #000001;
  --light-navy: #112240;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dull: rgba(2, 29, 22, 0.5);
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  /* --green: #00bfff; */
  --green: #d19f3d;
  --slate: #8892b0;
  --navy: #0a192f;
  --input-bg: hsl(235, 44%, 80%);
  --faq-q: #d8b265;
  --faq-a: #e8cf9e;
  /* font size  */
  --fz-xs: 13px;
  --fz-xxs: 12px;
  --fz-md: 14px;
  --fz-xl: 20px;
  --fz-l: 16px;
  /* --faq-q: #e3c58a;
  --faq-a: #e8cf9e; */

  /* font family  */
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-jack: "font-file-82132";
  --font-mark: "Mark Pro,sans-serif";
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  /* --font-heading: "Nosifer", sans-serif; */
  --font-heading: MagicI;
}

body {
  /* background-color: #181B3E; */
  background-image: url("https://res.cloudinary.com/dbdf3pjsp/image/upload/v1705521010/innovation_cell/oljsnh1qd1jc9set0k76.webp");
  background-position: 8% 0;
  background-size: cover; /* Adjust this as needed */
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  line-height: 1.6;
  margin: 0;
  width: 100%;
  height: 100%;
  /* cursor: url("./Components/cursor/cursor-yellow.png"), auto; */
  /* cursor: url("./Components/cursor/cursor-yellow.png"), auto; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--harry);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--harry);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.App {
  width: fit-content;
}

.overlay {
  /* background-color: purple; */
  height: 100%;
  width: 100%;
  position: fixed;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  z-index: -5;
}

.dark-overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #3498db;
  z-index: 1000;
}

.progress-bar {
  height: 100%;
  background-color: #2c3e50;
  transition: width 0.3s ease;
}

.snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: none;
}

.mouse {
  display: flex;
  width: 2.5rem;
  height: 5rem;
  background-color: rgba(0, 0, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  transition: none;
}

.mouse span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #e6e8e6;
  border-radius: 2rem;
  margin: auto;
  animation: move-wheel 1s linear infinite;
  transition: none;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: rotate(45deg);
  animation: arrow-down 1s linear infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 0.75;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 775px) {
  .scroll-down {
    display: none;

    z-index: 10;
    position: relative;
  }

  body {
    background-position: 8% 2rem;
  }
}
