.memories__container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.memories__container img{
   animation: move ease-out 1s;
}
@keyframes move{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}
.btn{
   padding: 0.25rem;
   background: #e8d7b5;
   border-radius: 50%;
   width: 4rem;
   height: 4rem;
   border: none;
   font-size: 2.5rem;
   cursor: pointer;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #d19f3d;
   font-weight: bold;
   transition: 0.8s;
 }
 .btn:hover,.btn:focus{
    /* background: #d19f3d; */
    box-shadow: 0 0 45px #d19f3d;
 }
 .btn-left{
    left: 10px;
 }
 .btn-right{
   right: 10px;
 }
 .slide{
     object-fit: cover;
     /* height: 100%; */
     height: 80vh;
     width: 100%;
     display: block;
     object-position: center;
     border-radius: 10px;
     box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
 } 
 .slide-hidden{
   display: none;
 }
 
 .indicators{
    position: absolute;
    bottom: 2%;
 }
 .indicator{
    margin-left: 0.5rem;
    border-radius: 100%;
    height: 0.75rem;
    width: 0.70rem;
    border: none;
    box-shadow: 0px 2px 5px #666;
    cursor: pointer;
    background-color: #e2ab3b;
 }
 .indicator-inactive{
    background-color: #e3d0a8;
 }
 
 @media screen and (max-width: 768px) {
   .slide{
         width: 100%;
     }
     .btn{
       height: 2.5rem;
       width: 2.5rem;
     }
 }
 
 @media screen and (max-width: 568px) {
   .memories__container{
      margin-left: 1rem;
   }
   .slide{
         width: 100vw;
         max-height: 80vw;
         object-fit: contain;
         box-shadow: none;
   }
   .btn{
      height: 2rem;
      width: 2rem;
   }
   .btn-left{
      left: -14px;
   }
   .btn-right{
       right: 20px;
   }
   .indicator{
       display: none;
    }
 }