.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.contact {
  width: 80%;
  height: fit-content;
  font-family: var(--font-poppins);
  color: var(--slate);
  z-index: 3;
}
.contactHeading > h1 {
  position: relative;
  z-index: 2;
  margin-top: 0rem;
  color: var(--harry);
  display: flex;
  align-items: center;
  font-family: var(--font-heading);
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  margin-top: -3rem;
}
.contactHeading > h1::after {
  content: "";
  display: block;
  background-color: var(--harry);
  width: 10rem;
  height: 3px;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.contactHeading > h1::before {
  content: "";
  display: block;
  background-color: var(--harry);
  width: 10rem;
  height: 3px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.contact_content {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_content_texts {
  width: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  max-width: 300px;
  height: 100%;
  min-width: 250px;
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  padding: 2rem; 
  background-color: rgb(17, 34, 64, 0.57);
}

.contact_content_texts {
  font-size: 1rem;
  font-weight: 700;
}
.contact_content_texts_heading {
  margin-bottom: 1rem;
  font-family: frozen;
}

.contact_content_forms {
  width: 100%;
  max-width: 700px;
}

/* form css  */
.input-icons {
  width: 100%;
}

.input-icons i {
  padding: 1rem 2rem;
  padding-right: 1rem;
  color: var(--green);
  background: rgba(
    255,
    255,
    255,
    0.2
  ); 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid var(--green);
  background-color: rgb(17, 34, 64, 0.57);
}

.input_element {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(
    255,
    255,
    255,
    0.2
  ); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--slate);
  transition: border, background-color 0.7s;
  border-bottom: 1px solid var(--green);
  background-color: rgb(17, 34, 64, 0.57);
}

input:focus {
  background-color: var(--light-navy);
  color: var(--light-slate);
}

textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(17, 34, 64, 0.57);
  color: var(--light-navy);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: var(--font-poppins);
  border-bottom: 1px solid var(--green);
}

textarea:focus {
  background-color: rgb(17, 34, 64, 0.8);
  color: var(--light-slate);
}

.contact_btn {
  padding: 1;
  margin-left: 0.5rem;
  width: 30%;
  font-size: 1rem;

  color: var(--green);
  font-family: var(--font-mono);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: color, background-color 1s;
  background-color: rgb(17, 34, 64, 0.57);
  -webkit-transition: color, background-color 1s;
  -moz-transition: color, background-color 1s;
  -ms-transition: color, background-color 1s;
  -o-transition: color, background-color 1s;
}

.contact_btn > button {
  outline: none;
  border: none;
  padding: 1rem;
}

.contact_btn:hover {
  background-color: rgb(17, 34, 64, 0.8);
  color: var(--harry-dark);
}

@media screen and (max-width: 600px) {
  .contactHeading > h1 {
    font-size: 3.2rem;
  }
  .contactHeading > h1::after {
    width: 4.5rem;
  }
  .contactHeading > h1::before {
    width: 4.5rem;
  }
}

@media screen and (max-width: 724px) {
  .contactHeading > h1::after {
    width: 6rem;
  }
  .contactHeading > h1::before {
    width: 6rem;
  }
}