.sponsor-section {
  margin-top: 6rem;
  /* background: rgba(255, 255, 255, 0.2); */
  background-color: rgb(17, 34, 64, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.spons-icon {
  width: 100%;
  margin: 1rem 0;
  justify-content: space-around;
}
.spons-icon img {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100px;
  width: 100px;
}
