* {
  font-family: frozen;
}

.footer {
  width: 100%;
  color: white;
  background-color: #18253f5c;
  opacity: 50;
  backdrop-filter: blur(10px);
  margin-top: 5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* font-family: poppins, "sans-serif"; */
  /* font-family: frozen; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.footer > .upper-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  row-gap: 1rem;
  column-gap: 4rem;
  width: 100%;
}

.footer .upper-section h1 {
  position: relative;
  width: fit-content;
  font-size: 2.25rem;
}

.footer .upper-section h1::after {
  content: "";
  /* background-color: #ffd8b4; */
  background-color: #ffe7b6;
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container > h1 {
  color: #d19f3d;
}

/* logo */
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.footer-logo > img {
  height: 100px;
  margin-bottom: 6px;
}

.footer-logo > h2 {
  font-size: 2rem;
  position: relative;
  color: #d19f3d;
}

.footer-logo > h2::after {
  content: "";
  background-color: #ffffff;
  /* background-color: #ffd8b4; */
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  transform: translateY(-6px);
}

.about > a {
  font-size: 1.1rem;
}

/* contacts */

.contacts {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  scale: 1.2;
}

.contacts > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .contacts > a:hover {
  color: white;
} */

.contacts > a > span {
  font-size: 0.9rem;
  width: fit-content;
}

/* social accounts */
.social-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.socials {
  display: flex;
  gap: 2.3rem;
  margin-left: 8px;
}

.socials > a {
  scale: 1.7;
  transition: all 200ms ease-in-out;
}

.socials > a:hover {
  scale: 2.2;
  color: white;
}

/* LOWER SECTION */
.footer > .lower-section > h1 {
  text-align: center;
  font-size: 1rem;
}

.footer > .lower-section > h1 > span {
  color: rgb(255, 174, 81);
  text-decoration: underline;
}

/* media queries */
@media screen and (max-width: 704px) {
  .footer {
    width: 100%;
  }
  .footer .upper-section {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    row-gap: 2.5rem;
  }

  .footer .upper-section h1 {
    text-align: center;
    font-size: 1.7rem;
    margin: 0 auto;
  }

  .footer-logo > img {
    height: 100px;
  }

  .footer > .lower-section > h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .footer {
    width: 100vw;
  }

  .footer > .upper-section {
    row-gap: 3rem;
    text-align: center;
  }

  .footer .upper-section .container {
    gap: 1.5rem;
  }

  .footer-logo > h2 {
    font-size: 1.5rem;
  }

  .footer .upper-section h1 {
    font-size: 1.5rem;
  }

  .about {
    gap: 0rem;
  }

  .contacts > a > span {
    font-size: 0.8rem;
    text-align: left;
  }

  .socials {
    gap: 1.75rem;
  }

  .socials > a {
    scale: 1.3;
  }

  .footer > .lower-section > h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 180px) {
  .footer .upper-section {
    row-gap: 0.75rem;
  }

  .footer .upper-section h1 {
    font-size: 1.4rem;
  }

  .footer-logo > h2 {
    font-size: 1.2rem;
  }

  .about > a {
    font-size: 0.9rem;
  }

  .contacts > a > span {
    font-size: 0.6rem;
  }

  .socials {
    gap: 1rem;
    margin: 0 auto;
  }

  .socials > a {
    scale: 1;
  }
}
