/* CustomCursor.css */

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease, background-color 0.2s ease;

  z-index: 9999;
}

/* button {
  cursor: url("./pointer-yellow.png");
} */

.cursor_feather {
  rotate: -12deg;
}

@media (max-width: 768px) {
  .cursor_feather {
    display: none;
  }
}
