/* Team css  */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Nosifer&display=swap");
#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ocHeading {
  margin-top: 4rem;
}

.teamHeading > h1 {
  position: relative;
  z-index: 2;
  color: var(--harry);
  display: flex;
  align-items: center;
  font-family: var(--font-heading);
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
.teamHeading > h1::after {
  content: "";
  display: block;

  background-color: var(--harry);
  width: 10rem;
  height: 3px;
  border-radius: 1rem;
  margin-left: 0.8rem;
}

.teamHeading > h1::before {
  content: "";
  display: block;
  background-color: #d19f3d;
  width: 10rem;
  height: 3px;
  border-radius: 1rem;
  margin-right: 0.8rem;
}

.teamCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: row;
  font-family: var(--font-mono);
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  text-align: center;
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}

.container .card .content h2 {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  z-index: 3;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: var(--slate);
  z-index: 1;
  margin-bottom: 1rem;
}
.container .card .content h3 > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: 0.5s;
}

.container .card .content p {
  font-size: 1rem;
  /*color: white;*/
  color: rgb(165, 226, 237);
  font-weight: 1000;
  margin-bottom: 1rem;
}

.alimImg > img {
  height: 5rem;
  object-fit: cover;
  object-position: top right;
}

.socialMediaHandles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMediaHandles img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.socialMediaHandles img:hover {
  transform: scale(1.2); 
}

.nameCard {
  margin: 1.5rem 2rem;
  width: 18rem;
  height: 7rem;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nameCard > div {
  width: 90%;
  max-width: 15rem;
  min-width: 12rem;
  height: 4.5rem;
  padding: 1rem;
  text-align: center;
  flex-direction: column;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 1000;
  overflow: hidden;
}
.socialMediaHandles {
  margin-top: 0rem;
}
.nameCard p {
  transition: all 0.5s;
  color: rgb(165, 226, 237);
  font-style: bold;
}

.nameCard:hover p {
  transform: translateY(-4.5rem);
}
.team_executives {
  margin: 2rem;
  padding: 2rem;
  color: rgb(165, 226, 237);
  min-width: 25rem;

  letter-spacing: 1px;
  line-height: 2rem;

  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.team_executives > h1 {
  margin-bottom: 2rem;
  font-weight: 1000;
}

.team_executives > div {
  font-size: 1.1rem;
  font-weight: 500;
}

.dark-overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  z-index: -5;
  transform: translateY(-18px);
}

@media only screen and (max-width: 930px) {
  .web-team {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 600px) {
  .teamHeading > h1::before {
    width: 4.5rem !important;
  }
  .teamHeading > h1 {
    text-align: center;
    font-size: 3.2rem;
  }
  .teamHeading > h1::after {
    width: 4.5rem !important;
  }

  .Teams {
    padding: 1rem;
  }
  .team_executives {
    margin: 1rem 0;
    padding: 1rem;
    min-width: 100%;
  }
  .container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-team {
    width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .container .card {
    width: 240px;
  }
}

.web-team {
  position: fixed;
  top: 4rem;
  right: -2rem;
  opacity: 0.6;
}
