.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 100vh;
  font-family: poppins, "sans-serif";
}

.welcome {
  font-size: 40px;
  font-weight: 700;
  color: #d19f3d;
  align-items: flex-start;
  margin-left: 80px;
  font-family: var(--font-poppins);
}

.moon-bg {
  position: fixed;
  height: 50rem;
  top: -2rem;
  left: 50%;
  opacity: 0;
  z-index: -10;
}

.social-link {
  display: flex;
  gap: 30px;
  width: 30%;
  margin-left: 80px;
}

.social-link-icon {
  font-size: 28px;
}

.social-link a {
  transition: all 200ms ease-in-out;
}

.social-link a:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 4px #e6a625e1);
  text-shadow: 0 0 10px rgba(209, 159, 61, 0.9);
}

@media (max-width: 758px) {
  .main_schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .moon-bg {
    margin-top: 1rem;
    left: 40%;
  }
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
  }
  .welcome {
    font-size: 28px;
    margin-left: 0;
    align-items: center;
  }
  .social-link {
    align-items: center;
    margin-left: 0;
    justify-content: center;
    width: 100%;
    gap: 20px;
    scale: 0.7;
  }
  .social-link-icon {
    font-size: 44px;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 400px) {
  .moon-bg {
    left: 30%;
  }
}
@media (min-width: 758px) {
  .main_schedule {
    margin-left: 4rem;
  }
}
.popup_schedule {
  padding: 20px;
}

.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule_btn {
  font-family: MagicI;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 19px;
  background-color: #bb8312;
  transition: all 100ms ease-out;
  color: #f2e6cf;
}
.schedule_btn:hover {
  color: #bb8312;
  scale: 1.01;
  background-color: #f2e6cf;
}
.schedule_img {
  /* width: 90%; */
  width: 70vh;
}
.close_btn {
  border: none;
  position: absolute;
  background: none;
  right: 12px;
  top: 12px;
}

@media (max-width: 650px) {
  .schedule_img {
    width: 90%;
  }
  .close_btn {
    right: 7%;
    top: 10px;
    scale: 0.8;
  }
}
