.landing{
  
  
   position: relative; 
}

.moon{
   position: fixed;

   margin-top: -95vh;
   /* right: -80vh; */
  
}

@keyframes pulse {
   0% {
     transform: scale(1);
   }
   100% {
     transform: scale(1.1);
   }
 }
 
 
.welcome{

   padding: 0.2rem;

   color:white;
   font-size: 50px;

   padding: 10rem;
    /* color:#181b3e00;  */
 }

.text{
   display: flex;
   font-size: 56px;
   z-index: 5;
}
.svg-icell{
   margin-top: -60px;
   height: 60px;
}


/* Add your CSS for landing-container to make it responsive */
.landing-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
 @media (max-width: 768px) {
   .landing-container {
     height: 80vh;
   }
 }
 
 @media (max-width: 576px) {
   .landing-container {
     height: 60vh;
   }
 }
 