.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  background: rgba(255, 255, 255, 0.109);
  backdrop-filter: blur(90px);
  padding: 15px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}

.logo {
  transform: translateX(-15px);
}
.logo2 {
  transform: translateX(-15px);
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  background: rgba(255, 255, 255, 0.109);
  backdrop-filter: blur(90px);
  padding: 15px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}

.nav-btn {
  padding: 4px;
  margin: 0.2rem 0;
  font-size: 32px;
  letter-spacing: 1.1px;
  border-radius: 10px;
  font-weight: 500;
  /* font-family: frozen, serif; */
  font-family: Harry;
}
.nav-btn div {
  /* color: transparent;
  background-size: 100% 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text; */
  font-family: Harry;
}

.nav-btn:hover {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #d19f3d;
}

.nav-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.nav-opt2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}



.logo {
  color: white;
  font-size: 30px;
  width: 40%;
}
.logo2 {
  color: white;
  font-size: 30px;
  width: 55%;
}
* {
  /* dsfdafdf */
}

.logo img {
  display: flex;
  align-self: center;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.logo2 img {
  display: flex;
  align-self: center;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.menu-icon {
  display: block;
}

@media (max-width: 923px) {
  .show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav.nav-phone {
    height: 100%;
    animation: fadeIn 1s;
    z-index: 999;
  }
  .nav2.nav-phone {
    height: 100%;
    animation: fadeIn 1s;
    z-index: 999;
  }

  .nav, .nav2 {
    padding: 15px 20px 15px 40px;
  }

  .nav-opt {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* top: 60px; */
    z-index: 999;
  }
  .nav-opt2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* top: 60px; */
    z-index: 999;
  }

  .nav-opt.show {
    display: flex; /*
    align-items: center;
    justify-content: center; */
    width: -webkit-fill-available;
    animation: fadeIn 1s;
    height: 100%;
  }
  .nav-opt2.show {
    display: flex; /*
    align-items: center;
    justify-content: center; */
    width: -webkit-fill-available;
    animation: fadeIn 1s;
    height: 100%;
  }

  .nav-btn {
    font-size: 30px;
    padding: 1rem;
  }

  .menu-icon {
    display: block;

    height: fit-content;
    align-self: flex-start;
  }

  .logo {
    align-self: flex-start;
  }

  .bar {
    width: 39px;
    height: 2px;
    background: white;
    margin: 10px 10px;
    transition: 0.9s;
  }

  .rotate-left {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .rotate-right {
    transform: rotate(45deg) translate(-9px, -10px);
  }

  .fade-out {
    opacity: 0;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .nav2 {
    width: 100%;
  }
}
